{{#each select.selected as |opt idx|}}
  {{#unless opt.isHidden}}
    <li class="ember-power-select-multiple-option">
      {{#if opt.isDismissible}}
        <span role="button"
          aria-label="remove element"
          class="ember-power-select-multiple-remove-btn"
          onmousedown={{action "clear" opt idx}}>
          &times;
        </span>
      {{/if}}
      {{yield opt select}}
    </li>
  {{/unless}}
{{/each}}
<input type="search" class="ember-power-select-trigger-multiple-input {{elementId}}-input"
  disabled=disabled>
<span class="ember-power-select-status-icon"></span>
