<div class="container">
  <h2>Ember Power Select Form</h2>

  {{#power-select-form
    selected=selected
    optionsComponent="select-options"
    onchange=(action "updateSelected")
    as |item|
  }}
    {{item.label}}: {{item.name}}
  {{/power-select-form}}

  {{outlet}}
</div>
